<html>
   <body>
      <form action = "{{ url_for('addrec') }}" method = "POST">
         <h3>Información de Tareas Curso PYTHON</h3>
         Numero tarea<br>
         <input type = "text" name = "numtar" /></br>

         Descripción de la tarea<br>
         <textarea name = "destar" ></textarea><br>

         Tema estudiado<br>
         <input type = "text" name = "temtar" /><br>

         Fecha<br>
         <input type = "text" name = "fectar" /><br>
		 
		 Hora<br>
         <input type = "text" name = "hortar" /><br>
		 
		 Url o Link<br>
         <input type = "text" name = "lintar" /><br>
		 
		 
         <input type = "submit" value = "ADICIONAR" /><br>
      </form>
	  <h2><a href = "\">Ir a la Pagina Principal</a></h2>
   </body>
</html>
